body {
    margin: 0;
    padding: 0;
    background: #131313 !important;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.heder-btn {
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 18px;
}

.start-box {
    width: 320px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
     
}

button {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.start-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.start-box input {
    width: 100%;
    margin-bottom: 20px;
}

.start-box input {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.start-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 30px;
}

#register {
    display: none;
}

.active-btn {
    background-color: #1c8adb;
    font-weight: bold;
}

.inactive-btn {
    background-color: #77CCFF;
}









