body {
    margin: 0;
    padding: 0;
    background: url(image/background.jpg);
    background-position: center;
    font-family: sans-serif;
}

.container {
    background-color: #FFFFFF;
    width: 350px !important;
    height: 500px;
    border-radius: 10px;
    margin-top: 100px;
    padding: 100px;
    text-align: center;
}

.input-text {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #60FD00;
    background: transparent;
    margin: 30px;
    color: #131313;
}

.sing-log-btn {
    border: none;
    color: #131313;
    background: transparent;
    margin: 10px;
    font-size: 30px;
    text-transform: uppercase;
}

.sing-log-btn:hover {
    border: none;
    color: #131313;
    background: transparent;
    margin: 10px;
    font-size: 30px;
    text-transform: uppercase;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #60FD00;
    /* transition: 0.5s; */
}

.submit-btn {
    background-color: #131313;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 15px 80px;
}