body{
    background-color: #131313;
    color: #fff;
}

.box {
    background: rgba(0, 0, 0, 0.5);
}

.btn {
    background-color: #1c8adb;
    color: #fff;
}

.btn:hover {
    background-color: #1c8adb;
    color: #fff;
}

.color-white {
    color: #fff;
}

.btn-del {
    background-color: #1c8adb;
    color: #fff;
    border: none;
    border-radius: 5px;
}